*{
background-color: rgb(180, 214, 228);
justify-content: center;
}

header {
    display: block;
}

/*a:hover {
    background-color: rgb(16, 189, 155);
}
*/
aside {
    justify-content: center;
}

h1 {
text-shadow: 1px 2px 2px black;
font-size: 250%;
display: flex; 
justify-content: center;
color: rgb(159, 23, 23);

}

li, a {
background: none;
font-size: 30px;
padding: 3px;
text-shadow: 1px 1px 2px white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    border: 2px solid black;
    font-size: 20px;
    background-image: linear-gradient(darkblue, skyblue);
   color: rgb(0, 0, 0);
    
}

#space {
    margin-left: 40px;
}

#profilepic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    margin-top: 40px;
    width: 45%;
    border-radius: 40%;
    
}

.words {
    display: flex;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    display: flex;
    align-items: center;
    font-size: 2.3rem;
    border: 2px solid black;
    margin: 1rem;
    box-shadow: 3px 3px 3px black;
    background-image: linear-gradient(darkblue, skyblue);
    text-shadow: 1px 1px 2px white;
}

.myworkpics {
display: flex;
justify-content: center;
width: 100%;
margin-bottom: 10px;
border: 4px solid black;

}

@media screen and (max-width: 500px) {
    .font {
        font-size: 110%;
    }
    *, h1, .words {
        font-size: 20px;
    }
    h2 {
        font-size: 23px;
    }
}